In [3]:
import pandas as pd

#### Base de Dados Síflis

In [4]:
data = pd.read_csv("babf2604-06a5-42b9-8038-0ea1d54051fb.csv")
dbh = data[data['ID_MUNICIP'] == "BELO HORIZONTE"]
dbh = dbh[dbh["NU_ANO"] != 2024]
df_agrupado = dbh['NU_ANO'].value_counts().reset_index()
df_agrupado.columns = ['Ano', 'Casos']

In [5]:
df_agrupado.head()

    Ano  Casos
0  2019   1121
1  2018   1100
2  2023    983
3  2017    898
4  2022    818

#### Base de Belo Horizonte

In [9]:
df = pd.read_csv("Dados_BeloHorizonte.csv",encoding="latin1", sep=";")
df = df[df["Ano"] >= 2010]

In [10]:
df.columns

Index(['Ano', 'Índice Mineiro de Responsabilidade Social',
       'Índice Mineiro de Responsabilidade Social - Assistência Social',
       'Índice Mineiro de Responsabilidade Social - Cultura',
       'Índice Mineiro de Responsabilidade Social - Cultura, Esporte, Turismo e Lazer',
       'Índice Mineiro de Responsabilidade Social - Educação',
       'Índice Mineiro de Responsabilidade Social - Esporte, Turismo e Lazer',
       'Índice Mineiro de Responsabilidade Social - Finanças municipais',
       'Índice Mineiro de Responsabilidade Social - Meio Ambiente',
       'Índice Mineiro de Responsabilidade Social - Saneamento, Habitação e Meio Ambiente',
       ...
       'Existência de Conselho de Segurança Pública',
       'Pessoas elegíveis ao Auxílio emergencial',
       'Auxílio emergencial - total',
       'Auxílio emergencial por pessoa elegível', 'Auxílio emergencial - BF',
       'Auxílio emergencial - % BF', 'Transferências totais - BF, BPC e AE',
       'Participação do AE nas transferências totais',
       'Transferências totais per capita - BF, BPC e AE',
       'Número de médicos por 1000 habitantes'],
      dtype='object', length=409)

In [11]:
#Retira todas as colunas que tem valores null > 3
df.isnull().sum()
df = df.drop(columns=df.columns[df.isnull().sum() > 3])

#### Base de João Monlevade

In [6]:
df = pd.read_csv("SaudeBH.csv",encoding="latin1", sep=";")
df = df[df["Ano"] >= 2010]

In [7]:
df.isnull().sum()
df = df.drop(columns=df.columns[df.isnull().sum() > 3])

In [8]:
df.columns

Index(['Ano',
       'Casos confirmados notificados de sífilis congênita em menores de 1 ano',
       'Proporção da população atendida pela Estratégia de Saúde da Família',
       'Proporção de nascidos vivos cujas mães realizaram 7 ou mais consultas de pré-natal',
       'Cobertura vacinal contra poliomielite em menores de 1 ano',
       'Cobertura vacinal de tríplice viral da população de 1 ano de idade',
       'Cobertura vacinal de febre amarela em menores de 1 ano',
       'Proporção de óbitos por causas mal definidas',
       'Proporção de óbitos por causas mal definidas sem assistência médica',
       'Proporção de internações por doenças cérebro vasculares na população de 40 anos ou mais',
       'Proporção de internações por diabetes mellitus e suas complicações na população de 30 anos ou mais',
       'Proporção de internações hospitalares por condições sensíveis à atenção primária (portaria N.º 221 de 17 de abril 2008)',
       'Proporção de internações hospitalares por condições sensíveis à atenção primária da população de 1 a 5 anos (portaria N.º 221 de 17 de abril 2008)',
       'Proporção de internações hospitalares por condições sensíveis à atenção primária da população de 60 anos ou mais (portaria N.º 221 de 17 de abril 2008)',
       'Proporção das internações de média complexidade de pacientes do SUS encaminhados para outra microrregião',
       'Proporção das internações para o parto de pacientes do SUS encaminhadas para outra microrregião',
       'Cobertura vacinal de Pentavalente em menores de 1 ano',
       'Gasto per capita com atividades de saúde',
       'Esforço orçamentário em atividades de saúde'],
      dtype='object')

##### Base de Renda

Gestão

In [5]:
df = pd.read_csv("RendaBH.csv",encoding="latin1", sep=";")
df = df[df["Ano"] >= 2010]

In [6]:
df.isnull().sum()
df = df.drop(columns=df.columns[df.isnull().sum() > 3])

In [7]:
len(df.columns)

13

## MERGE DAS BASES

In [12]:
df_agrupado['Ano'] = df_agrupado['Ano'].astype(str)
df['Ano'] = df['Ano'].astype(str)

df_merged = df_agrupado.merge(df, left_on="Ano", right_on="Ano", how="left")

In [13]:
df.head()

,Ano,Taxa de atendimento escolar às crianças de 4 e 5 anos,Taxa de escolarização líquida do Ensino Fundamental,Taxa de crianças que frequentam o Ensino Fundamental na série adequada,Taxa de escolarização líquida do Ensino Médio,Taxa de adolescentes que frequentam o Ensino Médio na série adequada,Total de escolas que oferecem os anos iniciais do Ensino Fundamental Regular,Total de escolas que oferecem os anos finais do Ensino Fundamental Regular,Total de escolas que oferecem o Ensino Fundamental Regular completo,Total de escolas que oferecem o Ensino Médio Regular,...,Número de policiais militares,Razão entre homicídios dolosos e policial militar,Habitantes por policial civil ou militar,Habitantes por juiz na comarca,Natureza da unidade policial militar,Existência de unidade prisional,Número de pessoas presas em estabelecimento da SEJUSP,Taxa de ocupação penitenciária em estabelecimento da SEJUSP no município.,O município é sede de comarca,Número de médicos por 1000 habitantes
0,2010,"71,43","100,00","87,56","67,44","59,44",678,466,390,257,...,13389.0,"0,05","177,40","13889,77","Sede da 1ª RPM e do 1º, 5º, 13º, 16º, 22º,34º,...",Sim,11805.0,"186,27",Sim,"4,61"
1,2011,"66,47","75,56","69,45","64,87","57,03",663,472,396,261,...,13265.0,"0,06","143,97","11866,60","Sede da 1ª RPM e do 1º, 5º, 13º, 16º, 22º,34º,...",Sim,1954.0,"199,01",Sim,"4,78"
2,2012,"63,56","72,18","66,43","62,90","55,32",653,464,389,264,...,11823.0,"0,07",NaN,"12378,87",1ª RPM,Sim,1370.0,"133,02",Sim,"4,99"
3,2013,"67,48","81,49","78,30","62,60","57,66",650,473,395,262,...,12908.0,"0,06","142,47","11194,12",Diversas Unidades,Sim,1641.0,"87,15",Sim,"5,27"
4,2014,"72,33","82,74","79,94","63,02","58,49",620,470,390,258,...,12921.0,"0,05","137,90","12165,39",Diversas Unidades,Sim,2917.0,"92,76",Sim,"5,57"

### Codificação da base de dados MERGED

In [14]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Columns: 281 entries, Ano to Número de médicos por 1000 habitantes
dtypes: float64(30), int64(9), object(242)
memory usage: 30.9+ KB

##### LabelEncoder

In [15]:
from sklearn.preprocessing import LabelEncoder
# Criar uma cópia do DataFrame
dk = df_merged.copy()

# Aplicar LabelEncoder apenas às colunas categóricas
label_encoders = {}
for col in dk.select_dtypes(include=['object', 'category']).columns:
    le = LabelEncoder()
    dk[col] = le.fit_transform(dk[col])
    label_encoders[col] = le  # Armazena o encoder caso precise reverter depois
dk.head()

,Ano,Casos,Taxa de atendimento escolar às crianças de 4 e 5 anos,Taxa de escolarização líquida do Ensino Fundamental,Taxa de crianças que frequentam o Ensino Fundamental na série adequada,Taxa de escolarização líquida do Ensino Médio,Taxa de adolescentes que frequentam o Ensino Médio na série adequada,Total de escolas que oferecem os anos iniciais do Ensino Fundamental Regular,Total de escolas que oferecem os anos finais do Ensino Fundamental Regular,Total de escolas que oferecem o Ensino Fundamental Regular completo,...,Número de policiais militares,Razão entre homicídios dolosos e policial militar,Habitantes por policial civil ou militar,Habitantes por juiz na comarca,Natureza da unidade policial militar,Existência de unidade prisional,Número de pessoas presas em estabelecimento da SEJUSP,Taxa de ocupação penitenciária em estabelecimento da SEJUSP no município.,O município é sede de comarca,Número de médicos por 1000 habitantes
0,9,1121,12,11,9,6,8,642,435,354,...,11704.0,0,7,6,3,0,1754.0,4,1,9
1,8,1100,10,10,8,10,10,627,444,364,...,11665.0,1,5,5,1,1,NaN,11,1,8
2,13,983,0,0,11,12,11,610,434,356,...,NaN,5,11,11,6,1,NaN,11,2,13
3,7,898,9,7,5,9,9,622,462,377,...,12098.0,1,3,7,4,0,3082.0,6,0,7
4,12,818,13,0,11,13,11,622,433,358,...,NaN,5,11,11,6,1,NaN,11,2,12

### Normalização dos Dados

In [16]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

##### MinMaxScaler

In [17]:
scaler = MinMaxScaler()
dk = pd.DataFrame(scaler.fit_transform(dk), columns=dk.columns)

### CORRELAÇÃO

##### Pearson

In [18]:
correlation_matrix = dk.corr()
correlations = correlation_matrix["Casos"]

strong_correlations = correlations[correlations.abs() > 0.5].sort_values(ascending=False)

print(strong_correlations)

Casos                                                                                                   1.000000
Valor Adicionado Fiscal (VAF) dos serviços industriais de utilidade pública                             0.910365
Taxa de atendimento escolar das crianças de 0 a 3 anos de idade                                         0.899054
Participação da administração pública no Valor Adicionado                                               0.897157
Deficientes beneficiados pelo BPC                                                                       0.893572
                                                                                                          ...
Percentual de matrículas no Ensino Fundamental em estabelecimentos da rede estadual                    -0.887226
Percentual de matrículas no Ensino Médio em estabelecimentos da rede municipal                         -0.890725
Taxa de alunos em escolas com laboratório de informática - Ensino Médio                                -0.915888
Percentual de matrículas na Educação Infantil em estabelecimentos da rede estadual                     -0.917163
Percentual de matrículas nos anos iniciais do Ensino Fundamental em estabelecimentos da rede federal   -0.948187
Name: Casos, Length: 141, dtype: float64

##### Spearman

In [19]:
correlation_matrix = dk.corr(method="spearman")
correlations = correlation_matrix["Casos"]

strong_correlations = correlations[correlations.abs() > 0.5].sort_values(ascending=False)

print(strong_correlations)

Casos                                                                                                   1.000000
Taxa de atendimento escolar das crianças de 0 a 3 anos de idade                                         0.903297
Deficientes beneficiados pelo BPC                                                                       0.903297
Valor Adicionado Fiscal (VAF) dos serviços industriais de utilidade pública                             0.903297
Participação da administração pública no Valor Adicionado                                               0.891090
                                                                                                          ...
Número de ocorrências de Porte ilegal de arma de fogo                                                  -0.890909
Percentual de matrículas no Ensino Fundamental em estabelecimentos da rede estadual                    -0.894048
Percentual de matrículas na Educação Infantil em estabelecimentos da rede estadual                     -0.903298
Percentual de matrículas nos anos iniciais do Ensino Fundamental em estabelecimentos da rede federal   -0.908257
Taxa de alunos em escolas com laboratório de informática - Ensino Médio                                -0.916484
Name: Casos, Length: 141, dtype: float64