In [110]:
import pandas as pd

#### Base de Dados Síflis

In [111]:
data = pd.read_csv("babf2604-06a5-42b9-8038-0ea1d54051fb.csv")
dbh = data[data['ID_MUNICIP'] == "BELO HORIZONTE"]
dbh = dbh[dbh["NU_ANO"] != 2024]
df_agrupado = dbh['NU_ANO'].value_counts().reset_index()
df_agrupado.columns = ['Ano', 'Casos']

#### Base de Educação

Acesso e Gestão

In [112]:
df = pd.read_csv("EducacaoBH.csv",encoding="latin1", sep=";")
df = df[df["Ano"] >= 2010]

In [113]:
df.columns

Index(['Ano', 'Taxa de atendimento escolar às crianças de 4 e 5 anos',
       'Taxa de escolarização líquida do Ensino Fundamental',
       'Taxa de escolarização líquida do Ensino Médio',
       'Total de escolas que oferecem os anos iniciais do Ensino Fundamental Regular',
       'Total de escolas que oferecem os anos finais do Ensino Fundamental Regular',
       'Total de escolas que oferecem o Ensino Fundamental Regular completo',
       'Total de escolas que oferecem o Ensino Médio Regular',
       'Taxa de matriculados no Ensino Fundamental com 15 anos ou mais de idade',
       'Taxa de matriculados no Ensino Médio com 18 anos ou mais de idade',
       'Taxa de pessoas de 15 anos ou mais na EJA-fundamental',
       'Taxa de pessoas de 18 anos ou mais na EJA-médio',
       'Taxa de alunos em escolas com laboratório de informática - Ensino Fundamental',
       'Taxa de alunos em escolas com Internet - Ensino Fundamental',
       'Taxa de alunos em escolas com laboratório de informática - Ensino Médio',
       'Taxa de alunos em escolas com Internet - Ensino Médio',
       'Taxa de atendimento escolar das crianças de 0 a 3 anos de idade',
       'Taxa de atendimento escolar aos adolescentes de 15 a 17 anos de idade',
       'Percentual de matrículas na Educação Infantil em estabelecimentos da rede federal',
       'Percentual de matrículas na Educação Infantil em estabelecimentos da rede estadual',
       'Percentual de matrículas na Educação Infantil em estabelecimentos da rede municipal',
       'Percentual de matrículas na Educação Infantil em estabelecimentos da rede particular',
       'Percentual de matrículas no Ensino Fundamental em estabelecimentos da rede federal',
       'Percentual de matrículas no Ensino Fundamental em estabelecimentos da rede estadual',
       'Percentual de matrículas no Ensino Fundamental em estabelecimentos da rede municipal',
       'Percentual de matrículas no Ensino Fundamental em estabelecimentos da rede particular',
       'Percentual de matrículas nos anos iniciais do Ensino Fundamental em estabelecimentos da rede federal',
       'Percentual de matrículas nos anos iniciais do Ensino Fundamental em estabelecimentos da rede estadual',
       'Percentual de matrículas nos anos iniciais do Ensino Fundamental em estabelecimentos da rede municipal',
       'Percentual de matrículas nos anos iniciais do Ensino Fundamental em estabelecimentos da rede particular',
       'Percentual de matrículas nos anos finais do Ensino Fundamental em estabelecimentos da rede federal',
       'Percentual de matrículas nos anos finais do Ensino Fundamental em estabelecimentos da rede estadual',
       'Percentual de matrículas nos anos finais do Ensino Fundamental em estabelecimentos da rede municipal',
       'Percentual de matrículas nos anos finais do Ensino Fundamental em estabelecimentos da rede particular',
       'Percentual de matrículas no Ensino Médio em estabelecimentos da rede federal',
       'Percentual de matrículas no Ensino Médio em estabelecimentos da rede estadual',
       'Percentual de matrículas no Ensino Médio em estabelecimentos da rede municipal',
       'Percentual de matrículas no Ensino Médio em estabelecimentos da rede particular',
       'Taxa de atendimento da educação básica',
       'Percentual de matrícula em tempo integral na Creche',
       'Percentual de matrícula em tempo integral na Pré-escola',
       'Percentual de matrícula em tempo integral nos anos iniciais do Ensino Fundamental',
       'Percentual de matrícula em tempo integral nos anos finais do Ensino Fundamental',
       'Percentual de matrícula em tempo integral no Ensino Médio',
       'Gasto per capita com atividades de educação',
       'Esforço orçamentário em atividades de educação',
       'Existência de Conselho Municipal de Educação',
       'Existência de Plano Municipal de Educação'],
      dtype='object')

In [114]:
#Retira todas as colunas que tem valores null > 3
df.isnull().sum()
#df = df.drop(columns=df.columns[df.isnull().sum() > 3])

Ano                                                                                                         0
Taxa de atendimento escolar às crianças de 4 e 5 anos                                                       1
Taxa de escolarização líquida do Ensino Fundamental                                                         1
Taxa de escolarização líquida do Ensino Médio                                                               1
Total de escolas que oferecem os anos iniciais do Ensino Fundamental Regular                                1
Total de escolas que oferecem os anos finais do Ensino Fundamental Regular                                  1
Total de escolas que oferecem o Ensino Fundamental Regular completo                                         1
Total de escolas que oferecem o Ensino Médio Regular                                                        1
Taxa de matriculados no Ensino Fundamental com 15 anos ou mais de idade                                     1
Taxa de matriculados no Ensino Médio com 18 anos ou mais de idade                                           1
Taxa de pessoas de 15 anos ou mais na EJA-fundamental                                                       3
Taxa de pessoas de 18 anos ou mais na EJA-médio                                                             3
Taxa de alunos em escolas com laboratório de informática - Ensino Fundamental                               1
Taxa de alunos em escolas com Internet - Ensino Fundamental                                                 1
Taxa de alunos em escolas com laboratório de informática - Ensino Médio                                     1
Taxa de alunos em escolas com Internet - Ensino Médio                                                       1
Taxa de atendimento escolar das crianças de 0 a 3 anos de idade                                             1
Taxa de atendimento escolar aos adolescentes de 15 a 17 anos de idade                                       1
Percentual de matrículas na Educação Infantil em estabelecimentos da rede federal                           4
Percentual de matrículas na Educação Infantil em estabelecimentos da rede estadual                          4
Percentual de matrículas na Educação Infantil em estabelecimentos da rede municipal                         4
Percentual de matrículas na Educação Infantil em estabelecimentos da rede particular                        4
Percentual de matrículas no Ensino Fundamental em estabelecimentos da rede federal                          4
Percentual de matrículas no Ensino Fundamental em estabelecimentos da rede estadual                         4
Percentual de matrículas no Ensino Fundamental em estabelecimentos da rede municipal                        4
Percentual de matrículas no Ensino Fundamental em estabelecimentos da rede particular                       4
Percentual de matrículas nos anos iniciais do Ensino Fundamental em estabelecimentos da rede federal        4
Percentual de matrículas nos anos iniciais do Ensino Fundamental em estabelecimentos da rede estadual       4
Percentual de matrículas nos anos iniciais do Ensino Fundamental em estabelecimentos da rede municipal      4
Percentual de matrículas nos anos iniciais do Ensino Fundamental em estabelecimentos da rede particular     4
Percentual de matrículas nos anos finais do Ensino Fundamental em estabelecimentos da rede federal          4
Percentual de matrículas nos anos finais do Ensino Fundamental em estabelecimentos da rede estadual         4
Percentual de matrículas nos anos finais do Ensino Fundamental em estabelecimentos da rede municipal        4
Percentual de matrículas nos anos finais do Ensino Fundamental em estabelecimentos da rede particular       4
Percentual de matrículas no Ensino Médio em estabelecimentos da rede federal                                4
Percentual de matrículas no Ensino Médio em estabelecimentos da rede estadual                               4
Percentual de matrículas no Ensino Médio em estabelecimentos da rede municipal                              4
Percentual de matrículas no Ensino Médio em estabelecimentos da rede particular                             4
Taxa de atendimento da educação básica                                                                      4
Percentual de matrícula em tempo integral na Creche                                                         6
Percentual de matrícula em tempo integral na Pré-escola                                                     6
Percentual de matrícula em tempo integral nos anos iniciais do Ensino Fundamental                           6
Percentual de matrícula em tempo integral nos anos finais do Ensino Fundamental                             6
Percentual de matrícula em tempo integral no Ensino Médio                                                   6
Gasto per capita com atividades de educação                                                                 3
Esforço orçamentário em atividades de educação                                                              3
Existência de Conselho Municipal de Educação                                                                4
Existência de Plano Municipal de Educação                                                                  10
dtype: int64

#### Base de Saúde

In [115]:
df = pd.read_csv("SaudeBH.csv",encoding="latin1", sep=";")
df = df[df["Ano"] >= 2010]

In [116]:
#df.isnull().sum()
df = df.drop(columns=df.columns[df.isnull().sum() >= 7])

In [117]:
df.columns

Index(['Ano',
       'Casos confirmados notificados de sífilis congênita em menores de 1 ano',
       'Proporção da população atendida pela Estratégia de Saúde da Família',
       'Meses de cobertura da Estratégia de Saúde da Família',
       'Proporção de nascidos vivos cujas mães realizaram 7 ou mais consultas de pré-natal',
       'Cobertura vacinal contra poliomielite em menores de 1 ano',
       'Cobertura vacinal de tríplice viral da população de 1 ano de idade',
       'Cobertura vacinal de febre amarela em menores de 1 ano',
       'Proporção de óbitos por causas mal definidas',
       'Proporção de óbitos por causas mal definidas sem assistência médica',
       'Proporção de internações por doenças cérebro vasculares na população de 40 anos ou mais',
       'Proporção de internações por diabetes mellitus e suas complicações na população de 30 anos ou mais',
       'Proporção de internações hospitalares por condições sensíveis à atenção primária (portaria N.º 221 de 17 de abril 2008)',
       'Proporção de internações hospitalares por condições sensíveis à atenção primária da população de 1 a 5 anos (portaria N.º 221 de 17 de abril 2008)',
       'Proporção de internações hospitalares por condições sensíveis à atenção primária da população de 60 anos ou mais (portaria N.º 221 de 17 de abril 2008)',
       'Proporção de internações por fratura de fêmur na população de 60 anos ou mais',
       'Proporção das internações de média complexidade de pacientes do SUS encaminhados para outra microrregião',
       'Proporção das internações para o parto de pacientes do SUS encaminhadas para outra microrregião',
       'Cobertura vacinal de Pentavalente em menores de 1 ano',
       'Proporção de internações por condições sensíveis à atenção básica (metodologia do Ministério da Saúde)',
       'Gasto per capita com atividades de saúde',
       'Esforço orçamentário em atividades de saúde',
       'Existência de Conselho Municipal de Saúde'],
      dtype='object')

##### Base de Renda

Gestão

In [118]:
df = pd.read_csv("RendaBH.csv",encoding="latin1", sep=";")
df = df[df["Ano"] >= 2010]

In [119]:
#df.isnull().sum()
df = df.drop(columns=df.columns[df.isnull().sum() >= 7])

In [120]:
len(df.columns)

13

## MERGE DAS BASES

In [121]:
df_agrupado['Ano'] = df_agrupado['Ano'].astype(str)
df['Ano'] = df['Ano'].astype(str)

df_merged = df_agrupado.merge(df, left_on="Ano", right_on="Ano", how="left")

In [122]:
df.head()

,Ano,Gasto per capita com agropecuária,Gasto per capita com desenvolvimento econômico,Gasto per capita com infraestrutura,Gasto per capita com reforma agrária e colonização,Gasto per capita com apoio ao trabalho,Gasto per capita com turismo,Esforço orçamentário em agropecuária,Esforço orçamentário em desenvolvimento econômico,Esforço orçamentário em infraestrutura,Esforço orçamentário em reforma agrária e colonização,Esforço orçamentário em apoio ao trabalho,Esforço orçamentário em turismo
0,2010,"0,18","25,56","152,19","0,00","32,95","8,66","0,01","1,13","6,72","0,00","1,46","0,38"
1,2011,"0,19","28,37","257,47","0,00","39,60","10,09","0,01","1,08","9,83","0,00","1,51","0,39"
2,2012,"0,16","32,64","336,24","0,00","42,55","10,49","0,01","1,08","11,12","0,00","1,41","0,35"
3,2013,"0,17","33,90","434,95","0,00","48,11","11,11","0,00","0,95","12,16","0,00","1,35","0,31"
4,2014,"0,42","35,12","364,16","0,00","42,63","11,38","0,01","0,95","9,86","0,00","1,15","0,31"

### Codificação da base de dados MERGED

##### LabelEncoder

In [123]:
from sklearn.preprocessing import LabelEncoder
# Criar uma cópia do DataFrame
dk = df_merged.copy()

# Aplicar LabelEncoder apenas às colunas categóricas
label_encoders = {}
for col in dk.select_dtypes(include=['object', 'category']).columns:
    le = LabelEncoder()
    dk[col] = le.fit_transform(dk[col])
    label_encoders[col] = le  # Armazena o encoder caso precise reverter depois
dk.head()

,Ano,Casos,Gasto per capita com agropecuária,Gasto per capita com desenvolvimento econômico,Gasto per capita com infraestrutura,Gasto per capita com reforma agrária e colonização,Gasto per capita com apoio ao trabalho,Gasto per capita com turismo,Esforço orçamentário em agropecuária,Esforço orçamentário em desenvolvimento econômico,Esforço orçamentário em infraestrutura,Esforço orçamentário em reforma agrária e colonização,Esforço orçamentário em apoio ao trabalho,Esforço orçamentário em turismo
0,9,1121,0,9,1,1,3,5,0,1,2,0,1,3
1,8,1100,9,6,6,0,1,2,1,0,5,0,2,3
2,13,983,10,11,11,2,11,11,2,9,11,1,11,9
3,7,898,5,7,5,0,2,9,1,3,6,0,3,1
4,12,818,0,10,7,0,0,6,0,6,3,0,0,2

##### GetDummies

In [124]:
dk = pd.get_dummies(df_merged)
dk.head()

,Casos,Ano_2010,Ano_2011,Ano_2012,Ano_2013,Ano_2014,Ano_2015,Ano_2016,Ano_2017,Ano_2018,...,"Esforço orçamentário em apoio ao trabalho_1,51","Esforço orçamentário em turismo_0,20","Esforço orçamentário em turismo_0,24","Esforço orçamentário em turismo_0,25","Esforço orçamentário em turismo_0,26","Esforço orçamentário em turismo_0,27","Esforço orçamentário em turismo_0,31","Esforço orçamentário em turismo_0,35","Esforço orçamentário em turismo_0,38","Esforço orçamentário em turismo_0,39"
0,1121,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,1100,False,False,False,False,False,False,False,False,True,...,False,False,False,False,True,False,False,False,False,False
2,983,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,898,False,False,False,False,False,False,False,True,False,...,False,False,True,False,False,False,False,False,False,False
4,818,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

### Normalização dos Dados

In [125]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

##### MinMaxScaler

In [126]:
scaler = MinMaxScaler()
dk = pd.DataFrame(scaler.fit_transform(dk), columns=dk.columns)

##### StandScaler ( Z-Score )

In [127]:
scaler = StandardScaler()
dk = pd.DataFrame(scaler.fit_transform(dk), columns=dk.columns)

### CORRELAÇÃO

##### Pearson

In [128]:
correlation_matrix = dk.corr()
correlations = correlation_matrix["Casos"]

strong_correlations = correlations[correlations > 0.2].sort_values(ascending=False)

print(strong_correlations)

Casos                                                      1.000000
Esforço orçamentário em turismo_0,26                       0.584297
Gasto per capita com agropecuária_0,00                     0.411787
Ano_2019                                                   0.405679
Gasto per capita com desenvolvimento econômico_42,40       0.405679
Gasto per capita com reforma agrária e colonização_7,14    0.405679
Gasto per capita com apoio ao trabalho_23,95               0.405679
Gasto per capita com infraestrutura_192,40                 0.405679
Gasto per capita com turismo_11,85                         0.405679
Esforço orçamentário em desenvolvimento econômico_0,92     0.405679
Esforço orçamentário em apoio ao trabalho_0,52             0.405679
Esforço orçamentário em infraestrutura_4,20                0.405679
Gasto per capita com apoio ao trabalho_23,27               0.388224
Gasto per capita com infraestrutura_262,64                 0.388224
Gasto per capita com agropecuária_0,55                     0.388224
Ano_2018                                                   0.388224
Esforço orçamentário em apoio ao trabalho_0,56             0.388224
Esforço orçamentário em infraestrutura_6,37                0.388224
Esforço orçamentário em desenvolvimento econômico_0,91     0.388224
Gasto per capita com turismo_10,69                         0.388224
Gasto per capita com desenvolvimento econômico_37,55       0.388224
Ano_2023                                                   0.290975
Ano_2017                                                   0.220324
Gasto per capita com agropecuária_0,22                     0.220324
Gasto per capita com infraestrutura_259,58                 0.220324
Gasto per capita com desenvolvimento econômico_39,99       0.220324
Gasto per capita com apoio ao trabalho_23,59               0.220324
Gasto per capita com turismo_9,63                          0.220324
Esforço orçamentário em desenvolvimento econômico_1,00     0.220324
Esforço orçamentário em infraestrutura_6,47                0.220324
Esforço orçamentário em apoio ao trabalho_0,59             0.220324
Esforço orçamentário em turismo_0,24                       0.220324
Name: Casos, dtype: float64

##### Spearman

In [129]:
correlation_matrix = dk.corr(method="spearman")
correlations = correlation_matrix["Casos"]

strong_correlations = correlations[correlations.abs() > 0.2].sort_values(ascending=False)

print(strong_correlations)

Casos                                                      1.000000
Esforço orçamentário em turismo_0,26                       0.607644
Gasto per capita com agropecuária_0,00                     0.455733
Gasto per capita com apoio ao trabalho_23,95               0.447214
Gasto per capita com turismo_11,85                         0.447214
                                                             ...
Esforço orçamentário em desenvolvimento econômico_1,13    -0.447214
Esforço orçamentário em turismo_0,38                      -0.447214
Esforço orçamentário em infraestrutura_6,72               -0.447214
Gasto per capita com reforma agrária e colonização_0,00   -0.470679
Esforço orçamentário em desenvolvimento econômico_1,08    -0.506370
Name: Casos, Length: 75, dtype: float64